#grafico {
  width: 50%;
  height: 100%;

  transition-duration: 2s;

  z-index: -1;
}

@media (max-width: 1000px) {
  #grafico {
    width: 100%;
    min-height: 250px;

    margin-top: 200px;

  }
}
